body {
    font-family: "Poppins", Arial, sans-serif;
    background: linear-gradient(to bottom right, #0a0a0a, #2a2a2a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #1b1b1b;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
    width: 100%;
    max-width: 380px;
    color: #fff;
    border-top: 3px solid #d4af37;
}


.login-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.login-container label {
    font-size: 14px;
    margin-bottom: 6px;
    display: block;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 6px;
    transition: 0.3s ease;
}

.login-container button {
    display: block;
    margin: 0 auto;
    padding: 12px 45px;
    background-color: #d4af37;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.login-container button:hover {
    background-color: #b8922c;
}
